practica/force-app/main/default/flows/PRACTICA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResponseAddress</name>
        <label>ResponseAddress</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>ResponseAddress.ResponseAddress</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>PRACTICA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>ResponseAddress.ResponseAddress</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>ContactR</name>
        <label>ContactR</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RegisterContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisterContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisterContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisterContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisterContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisterContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressInfo.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisterContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressInfo.city</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PRACTICA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRACTICA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>RegisterContact</inputReference>
    </recordCreates>
    <screens>
        <name>PRACTICA</name>
        <label>PRACTICA</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContactR</targetReference>
        </connector>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Birthdate</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddressInfo</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ResponseAddress.2XX.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ResponseAddress.2XX.postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>ResponseAddress.2XX.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ResponseAddress.2XX.countryx5fcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>ResponseAddress.2XX.state</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ResponseAddress.2XX.streetx5fname</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResponseAddress</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegisterContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
